@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #01aaed !important;
}

.Toastify__toast--success .Toastify__progress-bar {
  background: #01aaed;
}
